@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

* {background-image: url("circuit.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px 800px;
    margin: 40px;
}

h1 {
    color: rgb(52, 214, 92);
    font-size: 60px;
    text-align: center;
    font-family: 'Notable', sans-serif;
}

h2 {
    color: rgb(75, 219, 207);
    font-size: 30px;
}

h3 {
    color: rgb(115, 115, 233);
    font-size: 25px;
}
body {
    color: rgb(241, 233, 233);
    font-size: 20px;
}

.m{
    color: rgb(red);
    padding: 10px;
    text-decoration: none;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px
}

.m a:hover{
    color:red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }