@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');

body {
   background-image: url("technology.png");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 1500px 800px;
}   
* {
    margin: 30px;
}
h1 {
    color: rgb(47, 167, 131);
    font-size: 60px;
    text-align: center;
    font-family: 'Notable', sans-serif;
}
p {
    text-align: center;
    background-color: #ffffff8a;
  }
h2 {
    color: rgb(33, 128, 33);
    font-size: 30px;
}

h3 {
    color: rgb(98, 98, 184);
    font-size: 25px;
}
body {
    color: rgb(3, 3, 3);
    font-size: 20px;
}